<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->


<html>

<head>
	<title>Edit Player</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Player: </caption>
            
            {% if data %}
                <thead>
                    <tr>
                        
                        {% for key in data[0].keys() %}

                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        {% endfor %} 
                    </tr>

                <tbody>
                    
                    {% for item in data %}
                    <tr>
                        
                        {% for key in item.keys() %}
                        
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            
            <form id="Edit_Players" action="/edit_players/{{data[0].player_id}}" method="post">
                <legend><strong>Edit Player</strong></legend>
                <fieldset>
                    
                    <input type="hidden" value="{{data[0].player_id}}" class="form-control" id="player_id" name="player_id" required>

                    <label for="make">first name:</label>
                    <input type="text" value="{{data[0].first_name}}" class="form-control" id="first_name" name="first_name" pattern="[A-Za-z]{1,}" required>

                    <label for="model">last name:</label>
                    <input type="text" value="{{data[0].last_name}}" class="form-control" id="last_name" name="last_name" pattern="[A-Za-z0-9]{1,}" required>
                        
                    <label for="color">age:</label>
                    <input type="number" value="{{data[0].age}}" class="form-control" id="age" name="age" required> 

                    <label for="color">height:</label>
                    <input type="number" value="{{data[0].height}}" class="form-control" id="height" name="height" required> 

                    <label for="color">year:</label>
                    <input type="number" value="{{data[0].year}}" class="form-control" id="year" name="year" required> 
                
                </fieldset>
                <input type="submit" value="Edit Player" name="Edit_Players" class="btn btn-primary" style="margin:.5rem;">
                <a href='/players'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
