<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->

<!-- Our CSS -->
<link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">

<html>
<head>
	<title>Edit Visiting Team</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

            {% if data %}
            <table border="1">
            <caption> Editing Team: </caption>
			    <thead>
				    <tr>
					    
                        {% for key in data[0].keys() %}

					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        {% endfor %} 

                    </tr>

				<tbody>
					{% for item in data %}
					    <tr>
						    
                            {% for key in item.keys() %}

						    
						    <td> {{item[key]}} </td> 
                            {% endfor %}
					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table> 

                <form id="Edit_VisitingTeam" action="/edit_visiting_team/{{data[0].visiting_team_id}}" method="post">
                <legend><strong>Edit Team</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].visiting_team_id}}" class="form-control" id="visiting_team_id" name="visiting_team_id" required>

                    <label for="make">Name:</label>
                    <input type="text" value="{{data[0].name}}" class="form-control" id="name" name="name" pattern="[A-Za-z\s]{1,}" required>

                    <label for="model">City:</label>
                    <input type="text" value="{{data[0].city}}" class="form-control" id="city" name="city" pattern="[A-Za-z0-9\s]{1,}" required>
                        
                    <label for="color">Stadium:</label>
                    <input type="text" value="{{data[0].stadium}}" class="form-control" id="stadium" name="stadium" pattern="[A-Za-z0-9\s]{1,}" required> 

                    <input type="submit" value="Edit Visiting Team" name="Edit_VisitingTeam" class="btn btn-primary" style="margin:.5rem;">
                    <a href='/visitingteams'><input class="btn" type="button" value="Cancel"></a>
                </fieldset>

            </form>
</html>
