<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->

<!-- Our CSS -->
<link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">


<html>

<head>
	<title>Edit Player Stats</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Player: </caption>
            
            {% if data %}
                <thead>
                    <tr>
                        
                        {% for key in data[0].keys() %}

                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        {% endfor %} 
                    </tr>

                <tbody>
                   
                    {% for item in data %}
                    <tr>
                        
                        {% for key in item.keys() %}
                        
                        
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            
            <form id="Edit_Player_Stats" action="/edit_player_stats/{{data[0].player_stats_id}}" method="post">
                <legend><strong>Edit Player Stats</strong></legend>
                <fieldset>     
                    
                    <input type="hidden" value="{{data[0].player_stats_id}}" class="form-control" id="player_stats_id" name="player_stats_id" required>

                    <label for="make">Player:</label>
				    <select name="player_id" id="player_id">
                        {% for item in player_data %}
                        <option value="{{item.player_id}}">{{item.first_name, item.last_name}} </option>
                        {% endfor %}
            		</select>
                        
                    <label for="color">Points:</label>
                    <input type="number" value="{{data[0].points}}" class="form-control" id="points" name="points" required> 

                    <label for="color">Rebounds:</label>
                    <input type="number" value="{{data[0].rebounds}}" class="form-control" id="rebounds" name="rebounds" required> 

                    <label for="color">Assists:</label>
                    <input type="number" value="{{data[0].assists}}" class="form-control" id="assists" name="assists" required> 
                    <input type="submit" value="Edit Player Stats" name="Edit_Player_Stats" class="btn btn-primary" style="margin:.5rem;">
                    <a href='/player_stats'><input class="btn" type="button" value="Cancel"></a>
                </fieldset>

            </form>

</html>
