<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->

<html>
    <head>
      <title>Home Game Sales</title>   
    </head>
    <body>
    <h1>Home Game Sales</h1>
   <a href="/">Home</a> - <a href="/visitingteams">Visiting Teams</a> - <a href="/players">Players</a> - <a href="/player_stats">Player Stats</a> - <a href="/home_game_sales">Home Game Sales</a> - <a href="/playerteams">Player Teams</a>
             
            {% if data %}
            <table border="1">
			    <thead>
				    <tr>
					    
                        {% for key in data[0].keys() %}
					    
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        {% endfor %} 
            <th>Edit Sales</th>
			<th>Delete Game</th>
                    </tr>

				<tbody>
					{% for item in data %}
					    <tr>
						    
                            {% for key in item.keys() %}

						    <td> {{item[key]}} </td> 
                            {% endfor %}

						    <td><a href="edit_home_game_sales/{{item.home_game_id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_home_game_sales/{{item.home_game_id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table> 

<p>&nbsp;</p>

<div id="insert">
		<!-- form to INSERT new data into bsg_people-->
		<form id="Add_Game" action="/home_game_sales" method="post">
			<legend><strong>Add Game Data</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">Game Date:</label>
				<input type="Date" class="form-control" id="home_game_date" name="home_game_date" required>

				<label for="make">Visitor:</label>
				<select name="visiting_team_id" id="visiting_team_id">
					<option value="" </option>
            		{% for item in visiting_team_data %}
            		<option value="{{item.visiting_team_id}}">{{item.name}} </option>
            		{% endfor %}
            		</select>

				<label for="color">Tickets Sold:</label>
				<input type="number" class="form-control" id="tickets_sold" name="tickets_sold" required> 

				<label for="color">Merchandise Sales:</label>
				<input type="float" class="form-control" id="merchandise_revenue" name="merchandise_revenue" required> 

				<label for="color">Concession Sales:</label>
				<input type="float" class="form-control" id="concession_revenue" name="concession_revenue" required> 
            </fieldset>

            <!-- Create 'Add Person' and 'Cancel' buttons -->
			<input type="submit" value="Add Game" name="Add_Game" class="btn btn-primary" style="margin:.5rem;">
        </form>
	</div><!--insert-->
