<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="index.html">Home</a> - <a href="visitingteams.html">Visiting Teams</a> - <a href="/players">Players</a> - <a href="playerstats.html">Player Stats</a> - <a href="homegamesales.html">Home Game Sales</a> - <a href="playerteams.html">Player Teams</a>
</body>
</html>
