<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->

<!-- Our CSS -->
<link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="hpbody">
    <h1 class="header homepage">Welcome to the Scouting Database</h1>
    <h2 class="header homepage2">We don't lose games, we just run out of time</h2>
    <div class="topnav"><a href="/">Home</a> - <a href="/visitingteams">Visiting Teams</a> - <a href="/players">Players</a> - <a href="/player_stats">Player Stats</a> <a href="/home_game_sales">Home Game Sales</a> - <a href="/playerteams">Player Teams</a></div>
</body>
</html>
