<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->


<html>
    <head>
      <title>Player Stats</title>   
    </head>
    <body>
    <h1>Player Stats</h1>
    <a href="/">Home</a> - <a href="/visitingteams">Visiting Teams</a> - <a href="/players">Players</a> - <a href="/player_stats">Player Stats</a> - <a href="/home_game_sales">Home Game Sales</a> - <a href="/playerteams">Player Teams</a>

            {% if data %}
            <table border="1">
			    <thead>
				    <tr>
					    
                        {% for key in data[0].keys() %}
					    
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        {% endfor %} 
            <th>Edit Stats</th>
			<th>Delete Stats</th>
                    </tr>

				<tbody>
				{% for item in data %}
					    <tr>
						    
                            {% for key in item.keys() %}

						    <td> {{item[key]}} </td> 
                            {% endfor %}

						    <td><a href="edit_player_stats/{{item.player_stats_id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_player_stats/{{item.player_stats_id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table> 

<p>&nbsp;</p>

<div id="insert">
		<!-- form to INSERT new data into bsg_people-->
		<form id="Add_Stats" action="/player_stats" method="post">
			<legend><strong>Add Player Stats</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->

				<label for="make">Player:</label>
				<select name="player_id" id="player_id">
            		{% for item in player_data %}
            		<option value="{{item.player_id}}">{{item.first_name, item.last_name}} </option>
            		{% endfor %}
            		</select>

				<label for="color">Points:</label>
				<input type="number" class="form-control" id="points" name="points" required> 

				<label for="color">Rebounds:</label>
				<input type="number" class="form-control" id="rebounds" name="rebounds" required> 

				<label for="color">Assists:</label>
				<input type="number" class="form-control" id="assists" name="assists" required> 
            </fieldset>

            <!-- Create 'Add Person' and 'Cancel' buttons -->
			<input type="submit" value="Add Stats" name="Add_Stats" class="btn btn-primary" style="margin:.5rem;">
        </form>
	</div><!--insert-->
