<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->

<!-- Our CSS -->
<link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Teams</title>

</head>
<body>
    <h1 class="header allh1">Player Teams</h1>
   <div class="topnav"><a href="/">Home</a> - <a href="/visitingteams">Visiting Teams</a> - <a href="/players">Players</a> - <a href="/player_stats">Player Stats</a> - <a href="/home_game_sales">Home Game Sales</a> - <a href="/playerteams">Player Teams</a></div>
                
            {% if data %}
            <table border="1">
			    <thead>
				    <tr>
					    
                        {% for key in data[0].keys() %}
					    
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        {% endfor %} 
                        <th>Edit</th>
                    </tr>

				<tbody>
					{% for item in data %}
					    <tr>
						    
                            {% for key in item.keys() %}

						    <td> {{item[key]}} </td> 
                            {% endfor %}

						    <td><a href="edit_playerteams/{{item.player_id}}" class="btn btn-default">Edit</a></td>
					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table> 

    <div id="insert">
    <form id="insertPlayerTeams" action="/playerteams" method="POST">
        <legend><strong>Add Player to Team</strong></legend>
        {% if visiting_team_data %}
            <select name="visiting_team_id" id="team-select">
            {% for item in visiting_team_data %}
            <option value="{{item.visiting_team_id}}">{{item.visiting_team_id, item.name}} </option>
            {% endfor %}
        {% endif %}
            </select>
        {% if player_team_data %}
        <select name="player_id" id="player-select">
            {% for item in player_team_data %}
            <option value="{{item.player_id}}">{{item.player_id, item.first_name, item.last_name}} </option>
            {% endfor %}
        </select>
            <label for ="contract_expiration">Contract Expiration Date with Team</label>
            <input type="date" id="contract_expiration" name="contract_expiration" required>
        {% endif %} 
        <input type="submit" value="Add Player To Team" name="Add_Player_Team" class="btn btn-primary" style="margin:.5rem;">
        <a href='/playerteams'><input class="btn" type="button" value="Cancel"></a>
</div>
</body>
</html>
