<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->

<html>
    <head>
      <title>Players</title>   
    </head>
    <body>
    <h1>Players</h1>
    <a href="/">Home</a> - <a href="/visitingteams">Visiting Teams</a> - <a href="/players">Players</a> - <a href="/player_stats">Player Stats</a> - <a href="/home_game_sales">Home Game Sales</a> - <a href="/playerteams">Player Teams</a>
            
            {% if data %}
            <table border="1">
			    <thead>
				    <tr>
					    
                        {% for key in data[0].keys() %}
					    
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        {% endfor %} 
                        <th>Edit Player</th>
                        <th>Delete Player</th>
                    </tr>

				<tbody>
					{% for item in data %}
					    <tr>
						    
                            {% for key in item.keys() %}

						    <td> {{item[key]}} </td> 
                            {% endfor %}

						    <td><a href="edit_players/{{item.player_id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_player/{{item.player_id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table> 
<div id="insert">
    <form id="insertPlayer" action="/players" method="POST">
        <legend><strong>Add Player</strong></legend>

        <label for ="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" required>
        <label for ="last_name">Last name</label>
        <input type="text" id="last_name" name="last_name" required>
        <label for ="age">Age</label>
        <input type="text" id="age" name="age" required>
        <label for ="height">Height</label>
        <input type="text" id="height" name="height" required>
        <label for ="year">Year</label>
        <input type="text" id="year" name="year" required>
        <input type="submit" value="Add" name="Add_Player">
    </form>
</div>
    <div id="search">
    <form id="searchPlayer" action="/searchplayers" method="POST">
        <legend><strong>Search Categories</strong></legend>

        <label for ="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name">
        <label for ="last_name">Last name</label>
        <input type="text" id="last_name" name="last_name">
        <label for ="age">Age</label>
        <input type="text" id="age" name="age">
        <label for ="height">Height</label>
        <input type="text" id="height" name="height">
        <label for ="year">Year</label>
        <input type="text" id="year" name="year">
        <input type="submit" value="Search" name="Search_Player">
        <a href='/players'><input class="btn" type="button" value="Cancel"></a>
    </form>
</div>

</html>
    
