<!--Citation for structure of this page-->
<!--Date: 5/26/2022-->
<!--Based on:-->
<!--Source URL:https://github.com/osu-cs340-ecampus/flask-starter-app -->

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visiting Teams</title>
    
</head>
<body>
<h1>Visiting Teams</h1>
<a href="/">Home</a> - <a href="/visitingteams">Visiting Teams</a> - <a href="/players">Players</a> - <a href="/player_stats">Player Stats</a> - <a href="/home_game_sales">Home Game Sales</a> - <a href="/playerteams">Player Teams</a>
                
            {% if data %}
            <table border="1">
			    <thead>
				    <tr>
					    
                        {% for key in data[0].keys() %}
					    
                        
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        {% endfor %} 
                        <th>Edit Team</th>
                        <th>Delete Team</th>

                    </tr>

				<tbody>
					{% for item in data %}
					    <tr>
						    
                            {% for key in item.keys() %}

						    <td> {{item[key]}} </td> 
                            {% endfor %}
                            <td><a href="edit_visiting_team/{{item.visiting_team_id}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_visiting_team/{{item.visiting_team_id}}" class="btn btn-default">Delete</a></td>
					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table> 
    <div id="insert">
    <form id="insertVisting" action="/visitingteams" method="POST">
        <legend><strong>Add New Teams</strong></legend>

        <label for ="name">Team Name</label>
        <input type="text" id="name" name="name" required>
        <label for ="city">City</label>
        <input type="text" id="city" name="city" required>
        <label for ="stadium">Stadium</label>
        <input type="text" id="stadim" name="stadium" required>
        <input type="submit" value="Add" name="Add_Visiting_Team">
        <a href='/visitingteams'><input class="btn" type="button" value="cancel"></a>
    </form>
</div>

<body>
</html>
